<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div align="center"><h1>Copa América 2024</h1></div>
    <div align="center"><h2>Login</h2></div>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post" align="center">
        {% csrf_token %}
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>
