{% extends 'base.html' %}

{% block contenido %}
        <h1>Resultados</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No Partido</th>
                <th scope="col">Fase</th>
                <th scope="col">No. Fecha</th>
                <th scope="col">Fecha</th>
                <th scope="col">Partido</th>
                <th scope="col">Resultado</th>
                <th scope="col">Marcadores</th>
              </tr>
            </thead>
            <tbody>
                {% for marcador in marcadores %}
                <tr>
                    <td>{{ marcador.nro_partido }}</th>
                    <td>{{ marcador.nom_fase }}</th>
                    <td>{{ marcador.nro_fecha }}</th>
                    <td>{{ marcador.fecha }}</th>
                    <td>{{ marcador.equipo1 }} VS {{ marcador.equipo2 }}</td>
                    <td align="center">{{ marcador.marcador1 }} - {{ marcador.marcador2 }} <br>{{ marcador.nom_estado }}</td>
                    <td align="center"><a href="{% url 'marcadores_partido_chequeo' pk=marcador.nro_partido %}">Ver</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
          </table>        
    </body>
</html>
{% endblock %}