{% extends 'base.html' %}

{% block contenido %}
        <h1>Mis marcadores</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No Partido</th>
                <th scope="col">Fase</th>
                <th scope="col">No. Fecha</th>
                <th scope="col">Fecha</th>
                <th scope="col">Partido</th>
                <th scope="col">Marcador</th>
                <th scope="col">Modificar</th>
              </tr>
            </thead>
            <tbody>
                {% for marcador in mis_marcadores %}
                <tr>
                    <td>{{ marcador.nro_partido }}</td>
                    <td>{{ marcador.nom_fase }}</td>
                    <td>{{ marcador.nro_fecha }}</td>
                    <td>{{ marcador.fecha }}</td>
                    <td>{{ marcador.equipo1 }} VS {{ marcador.equipo2 }}</td>
                    <td align="center">{{ marcador.marcador1 }} - {{ marcador.marcador2 }}</td>
                    {% if marcador.id == None %}
                      {% if marcador.abierto == 1 %}
                          <td align="center"><a href="{% url 'marcador_new' nro_partido=marcador.nro_partido %}">Registrar</a></td>
                      {% else %}  
                          <td align="center">Cerrado</td>
                      {% endif %}
                    {% else %}
                      {% if marcador.abierto == 1 %}
                          <td align="center"><a href="{% url 'marcador_edit' pk=marcador.id %}">Modificar</a></td>
                      {% else %}  
                          <td align="center">Cerrado</td>
                      {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
          </table>        
    </body>
</html>
{% endblock %}